@font-face {
  font-family: 'yzk-font';
  src: url("../../../static/font/logotypejp_mp_m_1.1.ttf");
}

@font-face {
  font-family: 'yzk-font2';
  src: url("../../../static/font/m_E887AAE794B1E7A094E7A9B6.jpg");
}

@font-face {
  font-family: 'fututa';
  src: url("../../../static/font/Futura-MedObl.otf");
}

body {
  font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
  background-color: #009ACC;
}

span{
  margin: .05em;
}

header {
  position: fixed;
  height:auto;
  width:100vw;
  z-index: 99;
}
@media screen and (min-width: 480px) {
  header {
    width: 375px;
  }
}

a {
  text-decoration: none;
}

/* top画面 */

.top {
  width: 100%;
  background-color: #009ACC;
}
.top-header{
  position: relative;
  width:100vw;
}
@media screen and (min-width: 480px) {
  .top-header {
    width: 375px;
  }
}

.p-top-image{
  padding: 1em;
}
.p-top-text {
  font-family: 'yzk-font';
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 2px;
  font-size: 16px;
  color: #ebebeb;
  margin-top: 14px;
  margin-bottom: 4px;
}
.top-tent {
  width: auto;
  height: 200px;
}
.p-top-menu {
  position: absolute;
  top:0;
  right: 0;
}

/* 次回のイベント */

.p-next-event{
  position: relative;
  height:auto;
  background-color: #0085B3;
}
.c-next-event-title {
  color: #ebebeb;
  font-size: 28px;
  position: absolute;
  top: -0.5em;
  margin-left: -15px;
}
.c-next-event-button {
  margin-top: 24px;
  padding-bottom: 15px;
}
.c-next-event-date-text{
  position: absolute;
  top: 50px;
  right: 1em;
  color: white;
  font-family: 'fututa';
  font-size: 34px;
  text-align: right;
  z-index: 10;
}
.c-banner{
  height: 180px;
  width: 100%;
  object-fit: cover;
  opacity: .7;
}
.c-next-event-description {
  position: relative;
  padding: 216px 0 0 0 ;
  text-align: center;
}
.c-next-event-description-text {
  background-color: #EBEBEB;
}


/* YZKAMPへようこそ */

.p-lead {
  text-align: center;
}
.c-lead-logo {
  margin: 0.5em;
  width: auto;
  height: 55px;
}
.c-lead-title {
  color: #ebebeb;
  margin: 0;
}
.c-lead-text {
  color: #ebebeb;
  font-family: yzk-font;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 1px;
}
.c-description-readmore {
  display: inline-block;
  text-align: center;
  width: 100px;
  color: white;
  margin-top: 8px;
  margin-bottom: 30px;
}


/* スケジュール */

.p-schedule {
  background-color: #0085B3;
}
.c-schedule-title {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  margin-left: -20px;
  margin-right: 50%;
  color: #ebebeb;
}
.c-schedule-description {
  margin-top: 30px;
  margin-left: 20%;
  background-color: #EBEBEB;
}
.c-schedule-button {
  margin: 0em;
  padding: 14px 0 20px 0;
}
.p-calendar iframe {
  margin: 0 10%;
  max-width: 80%;
  max-height: 300px;
}
@media all and (min-width: 768px) {
  .googleCalendar iframe {
    height: 600px;
  }
}


/* 過去のイベント */

.p-past-events {
  background-color: #EBEBEB;
}

.c-past-events-title{
  display: inline-block;
  margin: 30px 0 0px auto;
  padding-right: 20px;
  padding-left: 30px;
  text-align: right;
  color: #009ACC;
  border-bottom: solid #009ACC 2px;
  font-family: 'fututa';
  font-size: 28px;
}
.c-past-events-description {
  text-align: left;
  width: 80%;
  margin: 30px 20% 0 0;
  color: #ebebeb;
  background-color: #009ACC;
}
.c-past-events-description-title {
  margin: 0;
  padding: 1em 15px 0;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
}
.c-past-events-description-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 18px 0px 18px;
  height: 48px;
  text-align: left;
  font-size: 14px;
}
.c-past-events-image {
  margin:1.5em 2em 0;
  height: 180px;
  width: 300px;
  object-fit: cover;
  opacity: .7;
}
